@charset "UTF-8";

// Allows the use of rem-calc() or lower-bound() in your settings
@import "functions";

/* ==========================================================================
   Dream Search CSS
   ========================================================================== */

#container {
    width: 100%;
    height: rem-calc(800);
}

.search__container {
    position: sticky;
    left: 0;
    right: 0;
    top: 50px;
    z-index: 10;
}

.form.minisearch {
    position: relative;
}

.search__input {
    width: 100%;
    padding: 5px 0 5px 5px;
}

.action__button {
    position: absolute;
    border: none;
    background: white;
    top:5px;
    &:hover {
        border: none;
        background: white;
    }
}

.action__button_type_clear {
    right: 35px;
    &:hover {
        color: #7a7a7a;
    }
}

.action__button_type_search {
    right: 1px;
}

.header.content {
    display: grid;
    gap: rem-calc(10);
    grid-template-columns: 60px auto 30px;
}

.nav-toggle {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    top: 0;
}

.logo {
    grid-column: 2 / span 2;
    grid-row: 1 / span 1;
    margin-left: 0 !important;
}

#searchApp {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}

.minicart-wrapper {
    margin-top: 0;
}

@media only screen and (min-width: rem-calc(768)) {
    .search__container {
        position: absolute;
    }
    .header.content {
        display: flex;
    }
}

body {
    min-height: 1000px;
}

.search__results {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 20;
    overflow: hidden;
    position: absolute;
    display: none;
    &.active {
        display: block;
    }
}

.search__wrapper {
    max-height: rem-calc(700);
    overflow: hidden auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
}

.search__results-item:hover {
    background-color: #f7f7f7;
}

.search__wrapper[data-mode="grid"] .search__results-item {
    width: calc(100% / 3);

    > a {
        border-right: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;

        .search__copy {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            -ms-flex-negative: 0;
            -webkit-flex-shrink: 0;
            flex-shrink: 0;
            -webkit-flex-basis: auto;
            flex-basis: auto;
            min-height: rem-calc(100);
            color: #000;
            text-decoration: none;
        }

        .search__product-card {
            margin-top: rem-calc(10);
        }
    }
    .search__image {
        max-height: 7em;
    }
    .search__product_desc {
        display: none;
    }
}

.search__results-item > a {
    text-decoration: none;
    display: flex;
}

.product_label,
.product_price,
.search__product_name,
.search__copy {
    color: #000;
    text-decoration: none;
}

.product_price {
    margin-left: 5px;
}

.image__container {
    margin-bottom: 5px;
}

.search__wrapper[data-mode="list"] .search__link {
    padding: rem-calc(10);
    display: flex;
    border-bottom: 1px solid #eee;
    gap: rem-calc(5);
    .search__image {
        padding: rem-calc(5);
        max-height: 7em;
        height: auto;
        position: relative;
    }
    .search__product {
        padding: 5px 5px 0 15px;
        line-height: 1.4rem;
        text-align: left;
        color: #000;
        margin-top: rem-calc(5);
    }
    .search__product-card {
        color: #000;
        width: rem-calc(110);
        -ms-flex-negative: 0;
        -webkit-flex-shrink: 0;
        flex-shrink: 0;
        padding: 0 rem-calc(5) 0 rem-calc(5);
        text-align: center;
    }
    .image__container {
        min-width: 10rem;
        display: block;
        position: relative;
        text-align: center;
        min-height: 1px;
    }
    .search__product_desc {
        display: block;
    }
    .search__copy,
    .search__copy {
        width: 100%;
    }
}

.search__results-item {
    width: 100%;
    font-size: 11pt;
    font-family: sans-serif;
    line-height: 14pt;
}

.loading {
    width: auto;
    text-align: center;
    border: 1px solid #eee;
    padding-top: rem-calc(5);
    padding-bottom: rem-calc(5);
    position: absolute;
    z-index: 10;
    background: white;
    height: rem-calc(45);
    > img {
        height: auto;
        width: rem-calc(20);
    }
}

.search__legend {
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    padding: rem-calc(7) rem-calc(5) 0 rem-calc(5);
    display: flex;
    justify-content: space-between;
    height: rem-calc(40);
    a {
        color: #bbbbbb;
    }
    a:hover,
    a.active {
        color: black;
    }
}

.search__display-sort {
    display: flex;
    justify-content: space-between;
    gap: rem-calc(15);
}

.search__display-mode {
    display: flex;
    justify-content: space-between;
    gap: rem-calc(15);
}

@media (min-width: rem-calc(768)) {
    .search__display-sort {
        gap: rem-calc(10);
    }

    .search__display-mode {
        gap: rem-calc(10);
    }
    .search__container {
        float: left;
        position: inherit;
    }
    .search__results,
    .loading,
    .search__container,
    .search__wrapper {
        width: 50vw;
    }
}

@media (min-width: rem-calc(1400)) {
    .search__results,
    .loading,
    .search__container,
    .search__wrapper {
        width: 40vw;
    }
}
@media (min-width: rem-calc(2000)) {
    .search__wrapper[data-mode="grid"] .search__results-item {
        width: calc(100% / 6);
    }
}
